body {
    font-family: 'Nanum Gothic', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 40vh;
}

#buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

#buttons button, #buttons input {
    margin-right: 5px;
    padding: 6px 12px;
    cursor: pointer;
    white-space: nowrap; /* 줄바꿈 방지 */
    font-size: 12px;
    width: auto;
    height: auto;
}

#buttons input[type="number"] {
    max-width: 40vw;
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 16px;
    text-align: center;
}

table {
    width: 80vw;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
    height: auto;
}

th {
    line-height: 1; /* 높이 중앙 정렬 */
    white-space: nowrap; /* 줄바꿈 방지 */
    padding: 10px 3px !important; /* 원하는 패딩 값으로 조절 */
    font-size: 12px;
}

td {
    font-size: 10px;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    padding: 5px 8px !important; /* 원하는 패딩 값으로 조절 */
    vertical-align: middle !important; /* 기본 수직 정렬을 가운데로 설정 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 ... 표시 */
}

td.company-cell {
    max-width: 20vw;
}

td.address-cell{
    max-width: 20vw;
}

td.cell{
    max-width: 15vw;
}

td.day-cell{
    padding: 5px 2px !important; /* 원하는 패딩 값으로 조절 */
}

thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#datepicker .ui-datepicker {
    width: 100%;
    border: auto;
}

.toast {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: black;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
}

.toast.show {
    display: block;
    opacity: 1;
    top: 40px;
}

.table-responsive {
    overflow-x: auto;
}

td.copyable, td.clickable {
    cursor: pointer;
}

.btn{
    padding: 2px !important;
}

.btn-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon img {
    width: 20px;
    height: auto;
}

@media (min-width: 600px) {
    .table-responsive td {
        font-size: 12px;
    }
}
