body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 80vh; /* 뷰포트 높이의 80% */
}

#buttons {
    margin-top: 10px;
    text-align: center;
}

#buttons button, #buttons input {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#buttons input[type="number"] {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

table {
    width: 80vw; /* 테이블도 지도의 크기와 맞추기 위해 80vw로 설정 */
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#datepicker .ui-datepicker {
    width: 100%;
    border: none;
}

.toast {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: black;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    display: none; /* 초기 상태는 숨김 */
    opacity: 0; /* 페이드 인/아웃 효과를 위해 */
    transition: opacity 0.5s, top 0.5s;
}

.toast.show {
    display: block;
    opacity: 1;
    top: 40px;  /* 약간 아래로 이동하면서 페이드인 */
}
